/*------------- HEADER -------------------*/
.background-image {
    background: url("../img/road.jpg");
    color: white;
    text-shadow:
        -2px 0 2px black,
        2px 0 2px black,
        0 -1px 2px black,
        0 2px 2px black;
    background-position: 0px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    .background-image {
        background-position: right;
    }
}

.background-black {
    background: black;
}

.color-white {
    color: white;
}

.font-35-bold {
    font-size: 3.5em;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .font-35-bold {
        font-size: 2.5em;
    }

    .team-image {
        max-height: 196px;
        max-width: 196px;
    }

    .freno-video {
        max-height: 280px;
        max-width: 375px;
    }
}

.team-image {
    border: 6px solid #ADAFB2;
    height: 100%;
    max-height: 250px;
    max-width: 250px;
    width: 100%;
}

.text-acknowledgements {
    font-size: 2.5rem;
    font-weight: bold;
}

@media only screen and (max-width: 576px) {
    .text-acknowledgements {
        font-size: 1.3rem;
    }

    .team-image {
        max-height: 196px;
        max-width: 196px;
    }

    .text-ack-name {
        font-size: 1.3rem;
    }

    .text-ack-title {
        font-size: 1.1rem;
    }

    .freno-video {
        max-height: 250px;
        max-width: 300px;
    }

    .freno-card {
        width: 11rem;
    }
}

@media only screen and (max-width: 992px) {
    .team-image {
        max-height: 176px;
        max-width: 176px;
    }

    .freno-video {
        max-height: 250px;
        max-width: 475px;
    }

}

@media only screen and (max-width: 425px) {
    .freno-video {
        max-height: 190px;
        max-width: 355px;
    }
}

@media only screen and (max-width: 375px) {
    .freno-video {
        max-height: 115px;
        max-width: 205px;
    }
}

@media only screen and (max-width: 1000px) {
    .center-mobile {
        text-align: center;
        display: inline-block;
    }
}
